#player-1-result,
#draw-result,
#com-result {
  color: white;
  border-radius: 0.5rem;
  transform: rotate(-30deg);
}

#player-1-result,
#com-result {
  background-color: #4c9654;
}

/* #player-1-result {
  padding: 1rem;
} */

#draw-result {
  background-color: #035b0c;
  padding: 1.875rem 3rem;
}

#player-1-result,
#com-result {
  padding: 1rem 3rem;
}

@media (max-width: 425px) {
  #draw-result {
    padding: 1.5rem;
  }

  #player-1-result,
  #com-result {
    padding: 1rem 1.5rem;
  }

  .draw-text {
    font-size: calc(0.875rem + 0.9vw);
  }

  .player-text {
    font-size: calc(0.875rem + 0.9vw);
  }
}

@media (max-width: 320px) {
  #draw-result {
    padding: 1rem;
  }

  .player-text {
    font-size: calc(0.625rem + 0.9vw);
  }
}

@media (max-width: 280px) {
  /* #player-1-result {
    padding: 0.75rem;
  } */

  .player-text {
    font-size: calc(0.5rem + 0.9vw);
  }
}
