@import url("https://fonts.googleapis.com/css?family=Sigmar+One");

.registerBody {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.registerContainer {
  background-color: #87ceeb;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.registerHeader {
  background-color: #87ceeb;
  border-bottom: 1px solid #87ceeb;
  padding: 20px 40px;
}

.registerHeader h1 {
  margin: 0;
  font-size: 33px;
  text-align: center;
}

.form {
  padding: 30px 40px;
}

.formInputs {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.formInputs label {
  display: inline-block;
  margin-bottom: 5px;
}

.formInputs input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form button {
  background-color: #ffa500;
  border: 2px solid #ffa500;
  border-radius: 4px;
  color: block;
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  width: 100%;
}