.btn-refresh {
  padding: 0.5rem;
  border-radius: 50%;
  background: none;
  border: none;
}

.btn-refresh:focus {
  outline: none;
}

.refresh {
  width: 6vw;
  cursor: pointer;
}

/* .btn-refresh {
  background: none;
  border: none;
} */

.btn-refresh:hover {
  background-color: #c4c4c4;
  outline: none;
}
