.rps-body {
  background: #9c835f;
}

.title {
  color: #f9b23d;
}

/* Tablet - 768px */
@media (max-width: 768px) {
  .main-games {
    display: flex;
    height: 100vh;
    align-items: center;
  }
}

/* Mobile L - 425px*/
@media (max-width: 425px) {
  .title,
  .player-title {
    font-size: calc(0.875rem + 1.5vw);
  }
}
