/* .rps-wrapper {
  font-size: 16px;
} */

/* html {
  font-size: 16px;
} */

/* body {
  background: #9C835F;
} */

/* .back-icon {
  width: 3vw;
} */

.logo {
  width: 4vw;
}

/* .title {
  color: #f9b23d;
} */

.rock {
  width: 10vw;
}

.paper {
  width: 10vw;
}

.scissors {
  width: 10vw;
}

.player-choice-box,
.com-choice-box {
  padding: 1rem;
  border-radius: 0.5rem;
}

.player-choice-box,
.com-choice-box,
.btn-refresh {
  background: none;
  border: none;
}

.player-choice-box:hover,
.btn-refresh:hover,
.active-hand {
  background-color: #c4c4c4;
  outline: none;
  cursor: pointer;
}

/* Laptop - 1024px */
@media (max-width: 1024px) {
  /* .rps-wrapper {
    font-size: 12px;
  } */

  /* html {
    font-size: 12px;
  } */

  .rock {
    width: 12vw;
  }

  .paper {
    width: 10vw;
  }

  .scissors {
    width: 10vw;
  }
}

/* Tablet - 768px */
@media (max-width: 768px) {
  .main-games {
    display: flex;
    height: 100vh;
    align-items: center;
  }

  .back-icon {
    width: 4vw;
  }

  /* .logo {
    width: 5vw;
  } */
}

/* Mobile L - 425px */
@media (max-width: 540px) {
  /* html {
    font-size: 6px;
  } */

  /* .rps-wrapper {
    font-size: 6px;
  } */

  .rock {
    width: 14vw;
  }

  .paper {
    width: 12vw;
  }

  .scissors {
    width: 12vw;
  }
}

/* Mobile M - 375px*/
@media (max-width: 375px) {
  /* .rps-wrapper {
    font-size: 4px;
  } */

  /* html {
    font-size: 4px;
  } */
}
