@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  font-family: "Acme", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 1400px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  color: aqua;
}

.logo {
  width: 4vw;
}

.rock {
  width: 10vw;
}

.paper {
  width: 10vw;
}

.scissors {
  width: 10vw;
}

.player-choice-box,
.com-choice-box {
  padding: 1rem;
  border-radius: 0.5rem;
}

.player-choice-box,
.com-choice-box,
.btn-refresh {
  background: none;
  border: none;
}

.player-choice-box:hover,
.btn-refresh:hover,
.active-hand {
  background-color: #c4c4c4;
  outline: none;
  cursor: pointer;
}

#player-1-result,
#draw-result,
#com-result {
  color: white;
  border-radius: 0.5rem;
  transform: rotate(-30deg);
}

#player-1-result,
#com-result {
  background-color: #4c9654;
}

/* #player-1-result {
  padding: 1rem;
} */

#draw-result {
  background-color: #035b0c;
  padding: 1.875rem 3rem;
}

#player-1-result,
#com-result {
  padding: 1rem 3rem;
}

/* Laptop - 1024px */
@media (max-width: 1024px) {
  .rock {
    width: 12vw;
  }

  .paper {
    width: 10vw;
  }

  .scissors {
    width: 10vw;
  }
}

/* Tablet - 768px */
@media (max-width: 768px) {
  .main-games {
    display: flex;
    height: 100vh;
    align-items: center;
  }

  .back-icon {
    width: 4vw;
  }
}

/* Mobile L - 425px */
@media (max-width: 540px) {
  .rock {
    width: 14vw;
  }

  .paper {
    width: 12vw;
  }

  .scissors {
    width: 12vw;
  }
}

@media (max-width: 425px) {
  #draw-result {
    padding: 1.5rem;
  }

  #player-1-result,
  #com-result {
    padding: 1rem 1.5rem;
  }

  .draw-text {
    font-size: calc(0.875rem + 0.9vw);
  }

  .player-text {
    font-size: calc(0.875rem + 0.9vw);
  }
}

@media (max-width: 320px) {
  #draw-result {
    padding: 1rem;
  }

  .player-text {
    font-size: calc(0.625rem + 0.9vw);
  }
}

@media (max-width: 280px) {
  /* #player-1-result {
    padding: 0.75rem;
  } */

  .player-text {
    font-size: calc(0.5rem + 0.9vw);
  }
}
